.productImage{
    display: flex;
    margin-right: 20px;
    margin-left: 20px;
}

.information{
    margin-top: 0px;
    margin-left: 20px;
}
.ratingScore{
    margin-top: -5px;
    margin-left: 40px;
}
.star{
    margin-top: 15px;
    margin-left: 10px;
}

.ratingUser{
    margin-top: -17px;
    display: flex;
}

.rating{
    display: flex;
    margin-top: -18px;
}
.tap{
    margin-left: 4px;
}
.selldisplay{
    margin-top: -50px;
    background-color: rgb(250, 230, 230);
    color: rgb(222, 62, 62);
    font-size: 45px;
}

.numberProduct{
    margin-top: 50px;
    margin-left: 10px;
}

.footFake{
    min-height: 3px;
}

.colInformation{
    display: flex;
    padding-bottom: 1px;
}

.colInformation_1{
    margin-left: 20px;
    margin-right: 20px;
    width: 200px;
}

.colInformation_2{
    margin-left: 1px;
    margin-right: 20px;
    width: 200px;
}

.title{
    display: flex;
    padding-bottom: 1px;
    padding-top: 20px;
}

.content{
    margin-left: 20px;
    margin-right: 20px;
    width: 200px;
}

.textInfor{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.buttonM{
    justify-content: end;
    display: flex;
}
