.Home{
    background-color: rgb(245, 242, 242);
}
.content{
    margin-right: 15%;
    margin-left: 15%;
    background-color: rgb(245, 242, 242);
}
.tdisplay{
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: bold;
    border-bottom: 1px solid;
    border-color: rgb(197, 180, 180);
    padding: 10px;

}
.item{
    margin-top: 10px;
}
.wraper{
    margin-bottom: 20px;
    background-color: #fff;
}

.start{
    display: flex;
    justify-content: space-between;
}

.introduceRight{
    margin-right: 15%;
    background-color: rgb(245, 242, 242);
}
.introduceLeft{
    margin-left: 15%;
    background-color: rgb(245, 242, 242);
    margin-top: 25px;
}
.note{
    margin-top: 20px;
    width: 350px;
    height: 300px;
}
.notetext{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    padding-left: 10px;
}

.tdisplay2{
    font-size: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid;
    border-color: rgb(197, 180, 180);
    padding: 10px;

}
